body{
    font-family: "Droin-sans", sans-serif;
}
header nav{
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    margin: auto;
    overflow: auto;
    background-color: #000000;
    color: #848484;
    padding: 0px 150px;
    box-sizing: border-box;
}
nav .leftSide{
    float: left;
    padding: 20px 0px;
}
nav .rightSide{
    vertical-align: middle;
    float: right;
    font-size: 14px;
}
nav .rightSide ul li{
    display: inline-block;
    padding-right: 47px;
}
nav .rightSide ul{
    padding: 30px 0px;
    cursor: pointer;
}
header .top{
    background-color: #9a9a9a;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    overflow: auto;
}
.hr1 {
    display: inline-block;
    width: 10%;
    text-align: left;
}
.top{
    padding: 0px 50px 130px 50px;
    clear: both;
    overflow: auto;
}
header .top h1{
    margin:auto;
    vertical-align: middle;
    text-align: center;
     font-size: 36px;
    line-height: 1.5;
    color: #b0b0b0;
    padding-top: 60px;
}
header .top .left p{
    font-size: 16px;
    padding: 47px 0px;
    line-height: 1.5;
}
header .top .left h2{
   font-size: 36px;
    padding-bottom: 47px;
}
header .top .left{
    width: 40%;
    float: left;
    text-align: left;
    box-sizing: border-box;
    margin: auto;
    color: #ffffff;
}
header .top .left img{
    padding-bottom: 35px;
    
}
header .button{
    border: 1px solid white;
    padding: 15px 30px;
    font-weight: 600;
}
header .top{
    width: 100%;
    margin: auto;
}
header .top .right{
    width: 40%;
    float: right;
    padding-top: 50px;
    margin: auto;
    box-sizing: border-box;
   
}
header .top .right table{
    margin: auto;
}
input{
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    outline: 0;
}
form label {
    color: #d6d6d6;
    text-align: left;
}
form{
    width: 50%;
    padding-bottom: 45px;
}
header .top .right table {
    border-radius: 3px;
    padding: 35px;
    background-color: #ffffff;
}
header .top .right table td{
    border-style: hidden;
    border-bottom-color:#d6d6d6;
    padding: 15px 45px;
}
header .top .right table th, tr{
    border: none;
    color: #d6d6d6;
    border-bottom-color:#d6d6d6;
}
header .top table:nth-child(1){
    border-radius: 3px;
}
header .top .right table th {
    border: none;
    background-color: #f5f5f5;
    font-size: 20px;
    color: #333333;
    padding: 20px;
    margin: auto;
    text-align: center;
    border-radius: 3px;
}

header .top .right table th span{
   color: #ff9b51;
}

header .top .right table tr:nth-child(5){
    background-color: #ff9b51;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.social{
    padding: 30px 150px;
    border-bottom: 1px solid #b7b7b7;
    overflow: auto;
    margin: auto;
}
.social .socialMedia{
    float: left;
    border-bottom-color: #b7b7b7;
    width: 35%;
    overflow: auto;
}
.social .socialMedia h2{
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    padding-bottom: 15px;
    
}
.social .socialMedia p{
    font-size: 14px;
    color: #a9aaac;
    line-height: 1.5;  
}
.social .icons{
    margin: auto;
    float: right;
     width: 50%;
}
.tabs .inner{
    vertical-align: middle;
    margin: auto;
    padding: 150px 140px;
    background-color: #f5f5f5;
    text-align: center;
}
.tabs .leftSide {
    float: left;
    display: inline-block;
    box-sizing: border-box;
}
.tabs .leftSide ul{
    width: 30%;
}
.tabs .leftSide .tab1{
    height: 110px;
    width: 110px;
    background-color: #ff8b38;
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
    margin: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    line-height: 110px; 
}
.tabs .leftSide .tab2{
    height: 110px;
    width: 110px;
    background-color: #333333;
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
     line-height: 110px;
    margin: 1px 0px;
}
.tabs .leftSide .tab3{
    height: 110px;
    width: 110px;
    background-color: #333333;
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    line-height: 110px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.tabs .rightSide {
    float: right;
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    box-sizing: content-box;
    margin: auto;
}
.tabs .middle{
    width: 30%;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
    margin: auto;
}
 .tabs .middle .button2 {
    border: 1px solid none;
    padding: 15px 30px;
    font-weight: 600;
    background-color:  #ff8b38;
    color: #ffffff;
    border-radius: 3px;
}
.middle h2{
    color: #000000;
    font-size: 24px;
    padding-bottom: 60px;
}
.middle p{
    color: #86878b;
    font-size: 14px;
    line-height: 1.5;
    padding-bottom: 50px;
}
.middle p span{
    color: #86878b;
    font-size: 14px;
    padding:30px 0px;
    display: block;
}
.sub .inner{
    vertical-align: middle;
    margin: auto;
    padding: 100px;
    text-align: center;
    overflow: auto;
    background-color: #ffffff;
    clear: both;
}

.sub .left1{
    width:40%;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: auto;
}
/*
.sub .left1 h3{
    margin: auto;
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 20%;
    color: #b0b0b0;
    font-size: 30px;
    text-align: center;
    
}
*/
.sub .right1{
    float: right;
     width: 50%;
    text-align: left;
    padding-bottom: 40px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: content-box;
    overflow: auto;
}
.sub .right1 h2{
    font-size: 20px;
    font-weight: 600;
    
}
.sub .underline{
    width: 10%;
    border-bottom: 1px solid #ff8b38;
    padding-bottom: 30px;
}
.sub .right1 .hr2{
    display: inline-block;
    width: 10%;
    text-align: left;
    color: #ff8b38;
}
.sub .right1 .topTitle img{
    float: left;
    width: 10%;
}
.sub .right1 .bottomTitle img{
    float: left;
    width: 10%;
}
.sub .right1 p{
    color: #a9aaac;
    font-size: 14px;
    line-height: 1.5;
    padding: 30px 0px;
}
.sub .right1 .rightFl{
    float: right;
    display: inline-block;
    width: 80%;
}
.sub .right1 .topTitle {
   display: table-row;
}
.sub .right1 .bottomTitle {
   display: table-row;
}
.sub .right1 h3{
    padding-bottom: 15px;
}
.standart {
    background-color: #f5f5f5;
    margin: auto;
}
.standart .inner{
    padding:90px 108px 115px 110px;
    vertical-align: middle;
    margin: auto;
    text-align: center;
    overflow: auto;
}
.standart .leftS{
    width: 40%;
    float: left;
    text-align:left;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}
.standart .rightS {
    width:40%;
    float: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: auto;
}
/*.standart .rightS h3{
    
    text-align: center;
    margin: auto;
    color: #b0b0b0;
    font-size: 30px;
    vertical-align: middle;
    position: relative;
    top: 40%;
    margin-left: 30%;
    width: 40%;
}
*/
.standart .leftS h2{
    font-size: 20px;
    font-weight: 600;
}
.standart .underline{
    width: 10%;
    border-bottom: 1px solid #ff8b38;
    padding-bottom: 30px;
}
.standart .leftS p{
    color: #a9aaac;
    font-size: 14px;
    line-height: 1.5;
    padding: 30px 0px;
}
.awesome {
    background-color: #ffffff;
    margin: auto;
    text-align: center;
    padding: 110px 0px;
}
.awesome .topper h1{
    font-size: 36px;
    font-weight: 400;
}
.awesome .topper p{
    font-size: 14px;
    color: #86878b;
    padding: 33px 0px 80px 0px;
}
.awesome .bottom .first, .second, .third{
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}
.awesome .bottom h3{
    font-size: 20px;
    padding: 30px 0px;
    font-weight: 600;
}
.awesome .bottom p{
    font-size: 14px;
    color: #86878b;
    line-height: 1.5;
}
.awesome .topper .underline{
    width: 7%;
    border-bottom: 1px solid #ff8b38;
    padding-bottom: 30px;
    text-align: center;
    display: inline-block;
}
.awesome .bottom .second{
    padding: 0px 70px;
}
.pricing{
    background-color: #f5f5f5;
    margin: auto;
    text-align: center;
    padding: 110px 0px;
}
.pricing .tops h1{
    font-size: 36px;
    font-weight: 400;
}
.pricing .tops p{
    font-size: 14px;
    color: #86878b;
    padding: 33px 0px 80px 0px;
}
.pricing .tops .underline{
    width: 7%;
    border-bottom: 1px solid #ff8b38;
    padding-bottom: 30px;
    text-align: center;
    display: inline-block;
}
.pricing .bottoms{
    margin: auto;
    text-align: center;
}
.pricing .bottoms p{
    padding: 20px;
}
.pricing .bottoms img{
    padding-top: 30px;
}
.pricing .bottoms th{
    padding: 20px 0px;
}
.pricing .bottoms .basic{
    display: inline-block;
    vertical-align: bottom;
    box-sizing: content-box;
}
.pricing .bottoms table{
   
    box-sizing: content-box;
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 30px;
}   
.pricing .bottoms .basic tr td{
     padding: 10px 50px;
    color: #86878b;
    text-transform: uppercase;
    background-color: #ffffff;
    border-bottom: 1px solid #f5f5f5;
}
.pricing .bottoms .basic tr:nth-child(1){
    background-color: #333333;
    border-bottom: 1px solid white;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600; 
}
.pricing .bottoms .basic tr:nth-child(2){
    background-color: #333333;
    border-bottom: 5px solid #ff8b38;
    color: #8d8d8d;
    font-style: italic;
    text-transform: capitalize;
}
.pricing .bottoms .professional{
    margin: 0px 30px;
    display: inline-block;
    vertical-align: bottom;
    box-sizing: content-box;
}

.pricing .bottoms .professional tr td{
    padding: 10px 50px;
    color: #86878b;
    text-transform: uppercase;
    background-color: #ffffff;
    border-bottom: 1px solid #f5f5f5;
}
.pricing .bottoms .professional tr:nth-child(1){
    background-color: #333333;
    border-bottom: 1px solid white;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}
.pricing .bottoms .professional tr:nth-child(2){
    background-color: #333333;
    border-bottom: 3px solid #ff8b38;
    color: #8d8d8d;
    font-style: italic;
    text-transform: capitalize;
}
.pricing .bottoms .professional td.mostPop{ 
    background-color: #ff8b38;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
}

.pricing .bottoms .enterprise{
    display: inline-block;
    vertical-align: bottom;
    box-sizing: content-box;
}   
.pricing .bottoms .enterprise tr td{
     padding: 10px 50px;
    color: #86878b;
    text-transform: uppercase;
    background-color: #ffffff;
    border-bottom: 1px solid #f5f5f5;
}
.pricing .bottoms .enterprise tr:nth-child(1){
    background-color: #333333;
    border-bottom: 1px solid white;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}
.pricing .bottoms .enterprise tr:nth-child(2){
    background-color: #333333;
    border-bottom: 5px solid #ff8b38;
    color: #8d8d8d;
    font-style: italic;
    text-transform: capitalize;
}

.customers {
    background-color: #ffffff;
    margin: auto;
    text-align: center;
    padding: 110px 0px;
}
.customers .toppy h1{
    font-size: 36px;
    font-weight: 400;
}
.customers .toppy p{
    font-size: 14px;
    color: #86878b;
    padding: 33px 0px 80px 0px;
}
.customers .bottommy .first, .second, .third{
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}
.customers .bottommy h3{
    font-size: 20px;
    font-weight: 600;
    padding-top: 40px; 
}
.customers .bottommy h4{
    font-size: 14px;
    color: #acadaf;
}
.customers .bottommy p{
    font-size: 14px;
    color: #86878b;
    line-height: 1.5;
    background-color: #f5f5f5;
    text-align: left;
    padding:30px 10px;
    font-style: italic;
    box-sizing: border-box;
    border-radius: 5px;
}
.customers .toppy .underline{
    width: 7%;
    border-bottom: 1px solid #ff8b38;
    padding-bottom: 30px;
    text-align: center;
    display: inline-block;
}
.customers .bottommy .second{
    padding: 0px 70px;
}
.customers .bottommy img{
    float: left;
    padding-top: 40px; 
}
.design{
    background-color: #9a9a9a;
    margin: auto;
    text-align: center;
    padding: 75px 0px;
}
.design h1{
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;
}
.design h2{
    color: #a8a8a8;
    font-size: 16px;
    padding-top: 55px;
}
.design p{
    font-size: 14px;
    color: #ffffff;
    padding: 33px 0px 80px 0px;   
}
.design .underline{
    width: 7%;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 30px;
    text-align: center;
    display: inline-block;
}

.design .button{
    border: 1px solid white;
    padding: 15px 30px;
    font-weight: 600;
    color: #ffffff;
}
.contact{
    background-color: #ffffff;
    margin: auto;
    text-align: center;
    padding: 110px 130px;
}
.contact:after {
  content: "";
  display: table;
  clear: both;
}
.contact h1{
    font-size: 36px;
    font-weight: 400;
}
.contact p{
    font-size: 14px;
    color: #86878b;
    padding: 33px 0px 80px 0px;
}
.contact .underline{
    width: 7%;
    border-bottom: 1px solid #ff8b38;
    padding-bottom: 30px;
    text-align: center;
    display: inline-block;
}

.contact .button{
    padding: 15px 30px;
    font-weight: 600;
    background-color: #ff8b38;
    color: #ffffff;
    border-radius: 3px;
    margin: auto;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

.contact .floatai{
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    width: 90%;
}
.contact .lefter{
   float: left;
    width: 45%;
    margin: auto;
    display: inline-block;
    vertical-align: bottom;
    text-align: left;
}
.contact .righter{
    float: right;
    width: 45%;
     margin: auto;
    display: inline-block;
    vertical-align: bottom; 
    text-align: left;
}
.contact form.righter label{
    color: #d6d6d6;
    text-align: left;
    margin: auto;
}
.contact form.righter input{
    padding-bottom:130px;
}
input{
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 30px;
    outline: 0;
}

form label {
    color: #d6d6d6;
    text-align: left;
    padding-bottom: 30px;
}
form{
    width: 50%;
    padding-bottom: 45px;
}
footer{
    background-color: #000000;
    margin: auto;
    text-align: center;
    color: #676767;
    font-size: 12px;
    padding: 23px 0px 15px 0px;
}
footer p{
    padding-top: 15px;
}